<!--The content below is only a placeholder and can be replaced.-->
<div class="container p-4">
<span class="display-2">Material Ok</span>
<br>
<button mat-raised-button>click</button>
<button mat-raised-button color="primary">click</button>
<button mat-raised-button color="warn">click</button>
<button mat-raised-button color="accent">click</button>
<button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
</button>
<button mat-fab color="warn">Warn</button>
<button mat-fab disabled>Disabled</button>
<button mat-fab aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
</button>
</div>
<router-outlet></router-outlet>
